extends layout

block content
  .container-fluid
    div.row(style='background-color:rgb(237, 237, 237);')
      div(class='col-xs-8 col-xs-offset-2 col-xs-10 col-xs-offset-2 main')
        h1.page-header.text-center Admin View
        h3 User_Name
        div.table-responsive(style='padding-top: 40px; padding-bottom:20px;')
            table(class='table table-striped')
              thead
                tr 
                  th JobID
                  th RunTime
                  th Memory Requested
                  th Memory Used
                  th Directory
                  th Command
              tbody
                each job in jobs  
                  tr
                    td #{job.jobID}
                    td #{job.runTime}
                    td #{job.memRequested}
                    td #{job.memUsed}
                    td #{job.directory}
                    td #{job.commandUsed}
        h3 User_Name
        div.table-responsive(style='padding-top: 40px')
            table(class='table table-striped')
              thead
                tr
                  th Job
                  th Time Run
                  th Number of Clusters Used
                  th Memory Used
                  th Directory
                  th Command
                  th Completion
              tbody
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful