extends layout

block content
  .container-fluid
    div.row(style='background-color:rgb(237, 237, 237);')
      div(class='col-xs-8 col-xs-offset-2 col-xs-10 col-xs-offset-2 main')
        h1.page-header.text-center Admin View
        each user in users
          h3 UserName: #{user.username}
          form(action="/changeadminstatus", method="post")
            if !user.admin
              input(type="hidden", name="privlige", value="grant")
              input(type="hidden", name="user", value="#{user.username}")
              input(class="btn btn-success" type="submit" value="Grant Admin Privliges")
            else
              input(type="hidden", name="privlige", value="remove")
              input(type="hidden", name="user", value="#{user.username}")
              input(class="btn btn-danger" type="submit" value="Remove Admin Privliges")
          div.table-responsive(style='padding-top: 40px; padding-bottom:20px;')
              table(class='table table-bordered table-hover table-condensed')
                thead
                  tr 
                    th JobID
                    th UTime
                    th Memory Requested
                    th Memory Used
                    th CPU Used
                    th Efficiency
                    th Max Memory
                    th Swap Used

                tbody
                  each job in user.jobs  
                    tr
                      td #{job.jobID}
                      td #{job.utime} Seconds
                      td #{job.memRequested}
                      td #{job.memUsed}
                      td #{job.cpuUsed}
                      td #{job.efficiency}
                      td #{job.maxMemory}
                      td #{job.swap_used}
        h3 User_Name
        div.table-responsive(style='padding-top: 40px')
            table(class='table table-bordered table-hover table-condensed')
              thead
                tr
                  th Job
                  th Time Run
                  th Number of Clusters Used
                  th Memory Used
                  th Directory
                  th Command
                  th Completion
              tbody
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful
                tr
                  td 124
                  td 12412341
                  td 1241241
                  td 12424124
                  td /usr/asdasd/asda
                  td sudo cmd aasda
                  td Successful